In [3]:
import pandas as pd
df=pd.read_csv("keyword_ideas.csv")
df.head()

           Text  Avg Monthly Searches
0        python                 22200
1          java                  9900
2   javascripts                 12100
3      react js                  2900
4  learn python                  1900

In [4]:
data = {
    "JANUARY": 10, "FEBRUARY": 0, "MARCH": 10, "APRIL": 10,
    "MAY": 0, "JUNE": 0, "JULY": 0, "AUGUST": 0,
    "SEPTEMBER": 0, "OCTOBER": 0, "NOVEMBER": 0, "DECEMBER": 0
}

In [7]:
df = pd.DataFrame(list(data.items()), columns=["Month", "Value"])
print(df)

        Month  Value
0     JANUARY     10
1    FEBRUARY      0
2       MARCH     10
3       APRIL     10
4         MAY      0
5        JUNE      0
6        JULY      0
7      AUGUST      0
8   SEPTEMBER      0
9     OCTOBER      0
10   NOVEMBER      0
11   DECEMBER      0

In [36]:
import numpy as np
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
# text:"webpack reactjs","avg_monthly_searches":40
# Given data
data = {
    "JANUARY": 40, "FEBRUARY": 50, "MARCH": 50, "APRIL": 40,
    "MAY": 40, "JUNE": 40, "JULY": 30, "AUGUST": 40,
    "SEPTEMBER": 30, "OCTOBER": 30, "NOVEMBER": 30, "DECEMBER": 20
}

# Convert data to DataFrame
df = pd.DataFrame(list(data.items()), columns=["Month", "Value"])

# Convert month names to numerical values
month_to_num = {"JANUARY": 1, "FEBRUARY": 2, "MARCH": 3, "APRIL": 4, "MAY": 5, "JUNE": 6,
                "JULY": 7, "AUGUST": 8, "SEPTEMBER": 9, "OCTOBER": 10, "NOVEMBER": 11, "DECEMBER": 12}
df["Month"] = df["Month"].map(month_to_num)

# Fit ARIMA model
model = ARIMA(df["Value"], order=(1, 1, 1))  # You may need to adjust order based on your data
results = model.fit()

# Forecast next month
forecast = results.forecast(steps=1)

# Extract the forecasted value and round to the nearest integer
forecasted_value = round(forecast.values[0])

print("Forecasted value for the next month:", forecasted_value)

# Forecasted value for the next month: 25

Forecasted value for the next month: 23

In [31]:
r=results.predict(steps=19)
r

0      0.000000
1     39.998694
2     44.682377
3     50.662225
4     47.940047
5     39.429994
6     35.710193
7     33.418164
8     33.458690
9     35.303867
10    31.128794
11    27.870894
Name: predicted_mean, dtype: float64

In [32]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(df["Value"],r)
rmse=-np.sqrt(mse)
rmse

-13.18016527240458